<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Top level args -->
  <arg name="suite_1" default="airport_lanes.yaml" />
  <arg name="suite_2" default="airport_lanes.yaml" />
  <arg name="episodes_1" default="1" />
  <arg name="episodes_2" default="1" />

  <!-- Instance 1 -->
  <group ns="trial_1">
    <include file="$(find arena_bringup)/launch/start_trials.launch">
      <arg name="tm_modules" value="benchmark" />
      <arg name="benchmark_suite" value="$(arg suite_1)" />
      <arg name="benchmark_episodes" value="$(arg episodes_1)" />
    </include>
  </group>

  <!-- Instance 2 -->
  <group ns="trial_2">
    <include file="$(find arena_bringup)/launch/start_trials.launch">
      <arg name="tm_modules" value="benchmark" />
      <arg name="benchmark_suite" value="$(arg suite_2)" />
      <arg name="benchmark_episodes" value="$(arg episodes_2)" />
    </include>
  </group>
</launch>